---
import { Card } from '@/components/EntryCard';
import GaugeCollection from '@/components/GaugeCollection';
import RootLayout from '@/layouts/RootLayout.astro';
import { getProjectsMetadata } from '@/utils/projects';

const projectsMetadata = await getProjectsMetadata();
---

<RootLayout>
  <main class="mx-4 pb-16">
    <h2 class="mb-4 text-3xl text-shadow-dark">All projects</h2>
    <div class="flex flex-row flex-wrap gap-4">
      {projectsMetadata.map(([project, metadata]) => (
        <Card
          href={`/projects/${project}`}
          title={metadata.title}
          subtitle={metadata.excerpt}
          date={metadata.date}
        >
          <GaugeCollection client:load values={metadata.projectValues} />
        </Card>
      ))}
    </div>
  </main>
</RootLayout>
